.about {
  padding: 40px 20px;
  color: #fff;
}
.about h1 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1deb1d;
}
.about h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: #1deb1d;
}
.about p {
  line-height: 22px;
  font-size: 18px;
  margin-top: 10px;
}
.about ol {
  padding: 10px;
}
.about ul li {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 300;
}
.about ul li span {
  font-weight: 600;
}
.about .link {
  margin-top: 15px;
}

.about .link a {
  font-size: 28px;
  color: #fff;
  margin-right: 20px;
  transition: all 0.3s ease;
}
.about .link a:hover {
  color: #1deb1d;
}
